<html>
	<head>	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="employeelist.component.css">
	</head>
	<body>
		<div class="box1">
			<div style="position : relative; left:10px; top: 0px;"><a routerLink="/admindashboard" style=" text-decoration: none;"> {{org}}</a></div>
			<div style="position : absolute; left:1100px; top: 25px;" [matMenuTriggerFor]="menu"> LocalAdmin({{username}})</div>
			<div style="position : absolute; left:1260px; top: 25px;">
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
					<!-- <mat-icon>dialpad</mat-icon> -->
					<span>Settings</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>voicemail</mat-icon> -->
					<span>Profile</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>notifications_off</mat-icon> -->
					<span>Change Password</span>
					</button>
					<button mat-menu-item>
						<!-- <mat-icon>notifications_off</mat-icon> -->
						<span>Sign out</span>
						</button>
					</mat-menu>		  
				</div>
		</div>
		<div class="box2">
			<br>
			<table class="table">
			<thead class="thead-dark">
				<tr class="table-active">
				  <th class="table-active" scope="col">#</th>
				  <th scope="col">Username</th>
				  <th scope="col">RoleType</th>
				  <th scope="col">View/Edit</th>
				</tr>
			</thead>
			</table>
			<div style="position : absolute; left:1070px; top:575px;"><div class="blockchain">Data Stored in Local blockchain</div></div>
			<div style="position : absolute; left:1200px; top:575px;"><div class="database">Data Stored in Local DB</div></div>
		</div>
	</body>	
</html>