<html>
	<head>	
		<title>
			Local Admin Dashboard
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="new-employee.component.css">
	</head>
	<body>
		<div class="box1">
			<div style="position : relative; left:10px; top: 0px;"><a routerLink="/admindashboard" style=" text-decoration: none;"> {{org}}</a></div>
			<div style="position : absolute; left:1100px; top: 25px;" [matMenuTriggerFor]="menu"> LocalAdmin({{username}})</div>
			<div style="position : absolute; left:1260px; top: 25px;">
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
					<!-- <mat-icon>dialpad</mat-icon> -->
					<span>Settings</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>voicemail</mat-icon> -->
					<span>Profile</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>notifications_off</mat-icon> -->
					<span>Change Password</span>
					</button>
					<button mat-menu-item>
						<!-- <mat-icon>notifications_off</mat-icon> -->
						<span>Sign out</span>
						</button>
					</mat-menu>		  
				</div>
		</div>
		<div class="box2">
			<h3>Create Account For Employee</h3>
				<div style="padding:100px">
					<form action="NewEmployee.html" action="GET">
						User Name<input type="text" style="width: 200px; margin-left:190px">
						<br>
						<br>
						Password<input type="text" style="width: 200px; margin-left:200px">
						<br>
						<br>
						Role Type
						<select  style="width: 200px; margin-left:195px">
						  <option value="Visitor">Visitor</option>
						  <option value="Local Admin">Local Admin</option>
						</select>
						<br>
						<br>
						<br>
						<button type="submit" style="margin-left:400px">Submit</button>
					</form>
				</div>
				<div style="position : absolute; left:1070px; top:575px;"><div class="blockchain">Data Stored in Local blockchain</div></div>
				<div style="position : absolute; left:1200px; top:575px;"><div class="database">Data Stored in Local DB</div></div>
				</div>
	</body>	
</html>