<html>
	<head>	
		<title>
			Local Admin Dashboard
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="mbse-model-varient.component.css">
	</head>
	<body>
		<div class="box1">
			<div style="position : relative; left:10px; top: 0px;"><a routerLink="/admindashboard" style=" text-decoration: none;"> {{org}}</a></div>
			<div class="manager" style="position : absolute; left:1180px; top: 25px;" [matMenuTriggerFor]="menu"> <mat-icon style="transform: scale(1.5); position:absolute; left:-30px">account_circle</mat-icon> Manager({{username}})</div>
			<div style="position : absolute; left:1260px; top: 25px;">
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
					<!-- <mat-icon>dialpad</mat-icon> -->
					<span>Settings</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>voicemail</mat-icon> -->
					<span>Profile</span>
					</button>
					<button mat-menu-item>
					<!-- <mat-icon>notifications_off</mat-icon> -->
					<span>Change Password</span>
					</button>
					<button mat-menu-item>
						<!-- <mat-icon>notifications_off</mat-icon> -->
						<span>Sign out</span>
						</button>
					</mat-menu>		  
				</div>
		</div>
		<div class="greencolor box2">
			<div class="hdr">Create a Varient Model</div>
			<div class="greencolor manager MBSELeftBox" style="position : relative; top: 10px;">
					<form>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Select Base Model<div style="position:absolute; top:60px; left: 400px;"><select  style="width: 200px;">
							<option value="Rover">Rover</option>
							<option value="hover">hover</option>
							<option value="PPE">PPE</option>
						  </select></div>
						<br>
						<br>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Model Name<div style="position:absolute; top:110px; left: 400px;"><input type="text" style="width: 200px;"></div>
						<br>
						<br>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Model Description<div style="position:absolute; top:155px; left: 400px;"><input type="textarea" style="width: 340px; height:70px;"></div>
						<br>
						<br>
						<br>
						<br>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Model Documents<div style="position:absolute; top:240px; left: 400px;"><input type="text" style="width: 110px;"></div>
						<div style="position:absolute; top:240px; left: 515px;"><input type="button" value="Browse..."></div>
						<br>
						<br>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Version<div style="position:absolute; top:280px; left: 400px;"><input type="text" style="width: 200px;"></div>
						<br>
						<br>
						<div style="left: 20px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						Sub-Version<div style="position:absolute; top:325px; left: 400px;"><input type="text" style="width: 200px;"></div>						<br>
						<br>
						<br>
						<br>
						<div style="left: 450px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
						<button type="submit" class="greenbutton" routerLink="" style="position:absolute; left:500px">Submit</button>
					</form>
				</div>
			<div class="ModelDocument" style="position : absolute; left:900px; top: 100px;">
				<b>Model Document</b>
			</div>
			<div style="position : absolute; left:1070px; top:575px;"><div class="blockchain">Data Stored in Local blockchain</div></div>
			<div style="position : absolute; left:1200px; top:575px;"><div class="database blackcolor">Data Stored in Local DB</div></div>
			</div>
	</body>	
</html>